.ecs-about__container {
  --background: #f3f4f5;
  --subtle-background: #bde7f0;
  --text: #32373c;
  --text-light: #f3f4f5;
  --nav-background: #216bce;
  --nav-border: #1730e5;
  --nav-color: #f3f4f5;
  --accent-1: #1730e5;
  --accent-2: #216bce;
  --accent-3: #bde7f0;
}

.ecs-about__container {
  max-width: 1000px;
  margin: 24px auto;
  clear: both;
}

.ecs-about__container .alignleft {
  float: left;
}

.ecs-about__container .alignright {
  float: right;
}

.ecs-about__container .aligncenter {
  text-align: center;
}

.ecs-about__container .is-vertically-aligned-top {
  -ms-grid-row-align: start;
  align-self: start;
}

.ecs-about__container .is-vertically-aligned-center {
  -ms-grid-row-align: center;
  align-self: center;
}

.ecs-about__container .is-vertically-aligned-bottom {
  -ms-grid-row-align: end;
  align-self: end;
}

.ecs-about__section {
  background: #f3f4f5;
  background: var(--background);
  clear: both;
}

.ecs-about__container .has-accent-background-color {
  color: #f3f4f5;
  color: var(--text-light);
  background-color: #1730e5;
  background-color: var(--accent-1);
}

.ecs-about__container .has-subtle-background-color {
  background-color: #bde7f0;
  background-color: var(--subtle-background);
}

/* 1.1 - Layout */

.ecs-about__section {
  margin: 0;
}

.ecs-about__section .column {
  padding: 32px;
}

.ecs-about__section .column.is-edge-to-edge {
  padding: 0;
}

.ecs-about__section .column p:first-of-type {
  margin-top: 0;
}

.ecs-about__section .column p:last-of-type {
  margin-bottom: 0;
}

.ecs-about__section .is-section-header {
  margin-bottom: 0;
  padding: 32px 32px 0;
}

/* Section header is alone in a container. */
.ecs-about__section .is-section-header:first-child:last-child {
  padding: 0;
}

.ecs-about__section.is-feature {
  padding: 32px;
}

.ecs-about__section.is-feature p {
  margin: 0;
}

.ecs-about__section.is-feature p + p {
  margin-top: 1rem;
}

.ecs-about__section.has-2-columns,
.ecs-about__section.has-3-columns,
.ecs-about__section.has-4-columns {
  display: -ms-grid;
  display: grid;
}

.ecs-about__section.has-2-columns {
  grid-template-columns: 1fr 1fr;
}

.ecs-about__section.has-2-columns.is-wider-right {
  grid-template-columns: 1fr 2fr;
}

.ecs-about__section.has-2-columns.is-wider-left {
  grid-template-columns: 2fr 1fr;
}

.ecs-about__section.has-2-columns .is-section-header {
  grid-column-start: 1;
  grid-column-end: span 2;
}

.ecs-about__section.has-2-columns .column:nth-of-type(2n + 1) {
  grid-column-start: 1;
}

.ecs-about__section.has-2-columns .column:nth-of-type(2n) {
  grid-column-start: 2;
}

.ecs-about__section.has-3-columns {
  grid-template-columns: repeat(3, 1fr);
}

.ecs-about__section.has-3-columns .is-section-header {
  grid-column-start: 1;
  grid-column-end: span 3;
}

.ecs-about__section.has-3-columns .column:nth-of-type(3n + 1) {
  grid-column-start: 1;
}

.ecs-about__section.has-3-columns .column:nth-of-type(3n + 2) {
  grid-column-start: 2;
}

.ecs-about__section.has-3-columns .column:nth-of-type(3n) {
  grid-column-start: 3;
}

.ecs-about__section.has-4-columns {
  grid-template-columns: repeat(4, 1fr);
}

.ecs-about__section.has-4-columns .is-section-header {
  grid-column-start: 1;
  grid-column-end: span 4;
}

.ecs-about__section.has-4-columns .column:nth-of-type(4n + 1) {
  grid-column-start: 1;
}

.ecs-about__section.has-4-columns .column:nth-of-type(4n + 2) {
  grid-column-start: 2;
}

.ecs-about__section.has-4-columns .column:nth-of-type(4n + 3) {
  grid-column-start: 3;
}

.ecs-about__section.has-4-columns .column:nth-of-type(4n) {
  grid-column-start: 4;
}

/* Any columns following a section header need to be expicitly put into the second row, for IE support. */
.ecs-about__section.has-2-columns .is-section-header ~ .column,
.ecs-about__section.has-3-columns .is-section-header ~ .column,
.ecs-about__section.has-4-columns .is-section-header ~ .column {
  grid-row-start: 2;
}

@media screen and (max-width: 782px) {
  .ecs-about__section.has-3-columns,
  .ecs-about__section.has-4-columns {
    display: block;
    padding-bottom: 16px;
  }

  .ecs-about__section.has-3-columns .column:nth-of-type(n),
  .ecs-about__section.has-4-columns .column:nth-of-type(n) {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}

@media screen and (max-width: 600px) {
  .ecs-about__section.has-2-columns {
    display: flex; /* This is flex, not block, so we can use order below. */
    flex-wrap: wrap;
    align-content: stretch;
    padding-bottom: 16px;
  }

  .ecs-about__section.has-2-columns .column:nth-of-type(n) {
    padding-top: 16px;
    padding-bottom: 16px;
    width: 100%;
  }

  .ecs-about__section.has-2-columns .is-edge-to-edge {
    order: -1;
  }
}

/* 1.2 - Typography & Elements */

.ecs-about__container {
  line-height: 1.4;
}

.ecs-about__container h1 {
  margin: 0 0 1em;
  padding: 0;
  font-weight: 600;
  color: inherit;
}

.ecs-about__container h1,
.ecs-about__container h2 {
  margin-top: 0;
  font-size: 1.4em;
  line-height: 1.4;
}

.ecs-about__container h3,
.ecs-about__container h2.is-smaller-heading {
  margin-top: 0;
  font-size: 1em;
}

.ecs-about__container p {
  font-size: inherit;
  line-height: inherit;
}

.ecs-about__section a {
  color: #1730e5;
  color: var(--accent-1);
  text-decoration: underline;
}

.ecs-about__section a:hover,
.ecs-about__section a:active,
.ecs-about__section a:focus {
  text-decoration: none;
}

.wp-credits-list a {
  text-decoration: none;
}

.wp-credits-list a:hover,
.wp-credits-list a:active,
.wp-credits-list a:focus {
  text-decoration: underline;
}

.ecs-about__container ul {
  list-style: disc;
  margin-left: 16px;
}

.ecs-about__container img {
  margin: 0;
  vertical-align: middle;
}

.ecs-about__container .ecs-about__image {
  display: -ms-grid;
  display: grid;
  align-items: center;
  justify-content: center;
  height: 100%;
  overflow: hidden;
}

.ecs-about__container .ecs-about__image img {
  max-width: 100%;
  width: 100%;
  height: auto;
}

.ecs-about__container hr {
  margin: 0;
  height: 32px;
  border: none;
}

.ecs-about__container hr.is-small {
  height: 8px;
}

.ecs-about__container div.updated,
.ecs-about__container div.error,
.ecs-about__container .notice {
  display: none !important;
}

.ecs-about__section {
  font-size: 1.2em;
}

.ecs-about__section.is-feature {
  font-size: 1.6em;
  font-weight: 600;
  text-align: center;
}

@media screen and (max-width: 480px) {
  .ecs-about__section.is-feature {
    font-size: 1.4em;
    font-weight: 500;
  }
}

/* 1.3 - Header */
.ecs-about__header {
  margin-bottom: 0;
  background-color: #fff;
  background-color: var(--background);
  background-repeat: no-repeat;
  background-position: top right;
  background-size: contain;
  border: 1px solid #cdd0d5;
  border-bottom: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.ecs-about__header > div {
  display: flex;
}

.ecs-about__header > div > * {
  align-self: flex-end;
}

.ecs-about__header-title {
  max-height: 32em;
  padding: 0 32px;
}

.ecs-about__header-title p {
  margin: 0;
  margin-top: 32px;
  padding: 0;
  font-size: 4em;
  line-height: 1;
  font-weight: 500;
  color: #1730e5;
  color: var(--accent-1);
}

.ecs-about__header-title p span {
  display: inline-block;
  color: #1730e5;
  color: var(--accent-1);
}

.ecs-about__header-text {
  padding: 16px 32px 32px;
  font-size: 1.5em;
  line-height: 1.4;
}

.ecs-about__header-text p {
  margin: 0;
}

.ecs-about__header-navigation {
  padding-top: 0;
  background: #216bce;
  background: var(--nav-background);
  color: #f3f4f5;
  color: var(--nav-color);
  border-bottom: 3px solid #1730e5;
  border-bottom: 3px solid var(--nav-border);
}

/* Header Tab Panel */
.ecs-about__header-tab-panel {
  float: none;
  display: block !important;
}

.ecs-about__header-tab-panel-content {
  margin-top: 24px;
}

.ecs-about__header-tab-panel > .components-tab-panel__tabs {
  margin: 0;
  padding-top: 0;
  background: #216bce;
  background: var(--nav-background);
  color: #f3f4f5;
  color: var(--nav-color);
  border-bottom: 3px solid #1730e5;
  border-bottom: 3px solid var(--nav-border);
}

.ecs-about__header-tab-panel .components-tab-panel__tabs .components-button {
  color: inherit;
  font-size: 1.4em;
  font-weight: 600;
  height: auto;
  line-height: 1;
  padding: 24px 32px;
  border-radius: 0;
  border-bottom: 3px solid #216bce;
  border-bottom: 3px solid var(--nav-background);
}

.ecs-about__header-tab-panel .components-tab-panel__tabs .components-button:focus:not(:disabled) {
  background-color: inherit;
  color: inherit;
  box-shadow: none;
  outline: 2px solid transparent;
}

.ecs-about__header-tab-panel .components-tab-panel__tabs .ecs-tab-active {
  margin-bottom: -3px;
  border-width: 0 0 6px;
  border-color: #bde7f0;
  border-color: var(--accent-3);
  border-style: solid;
}

.ecs-about__header-tab-panel .components-tab-panel__tabs .components-button:not(.ecs-tab-active):hover {
  border-bottom: 3px solid #1730e5;
  border-bottom: 3px solid var(--nav-border);
}

.ecs-about__header-tab-panel
  .components-tab-panel__tabs
  .components-button:not(:disabled):not([aria-disabled='true']):not(.is-secondary):not(.is-primary):not(.is-tertiary):not(.is-link):hover {
  background-color: #1730e5;
  background-color: var(--accent-1);
  box-shadow: none;
  color: inherit;
}

@media screen and (max-width: 782px) {
  .ecs-about__container .ecs-about__header-text {
    font-size: 1.4em;
  }

  .ecs-about__header-title {
    min-height: 0;
    max-height: none;
    height: auto;
    /*
		 * 60% is a "magic" number to create a top offset approx-equal to the height of the background image,
		 * which scales to match the container width.
		 */
    padding-top: 60%;
  }

  .ecs-about__header-tab-panel .components-tab-panel__tabs .components-button {
    margin-top: 0;
    margin-right: 0;
    padding: 24px 16px;
  }
}

@media screen and (max-width: 480px) {
  .ecs-about__header-title p {
    font-size: 3.2em;
  }

  .ecs-about__header-tab-panel .components-tab-panel__tabs .components-button {
    float: none;
    display: block;
    margin-bottom: 0;
    padding: 16px 16px;
    border-left: 6px solid #216bce;
    border-left: 6px solid var(--nav-background);
    border-bottom: none !important;
    width: 100%;
    text-align: left;
  }

  .ecs-about__header-tab-panel .components-tab-panel__tabs .ecs-tab-active {
    border-left: 6px solid #bde7f0;
    border-left: 6px solid var(--accent-3);
  }

  .ecs-about__header-tab-panel .components-tab-panel__tabs .components-button:not(.ecs-tab-active):hover {
    border-left: 6px solid #1730e5;
    border-left: 6px solid var(--nav-border);
  }
}
